# Ignore Python cache files
**/__pycache__/

# Ignore virtual environment directories
venv/

# Ignore dataset directories
data/UCI HAR Dataset/

# Ignore images & produced data files
autoencoder/img/
autoencoder/produced_data/
